@{
    ViewBag.Title = "Britney's Article Thing";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<form method="post" action="/Home/Munge">
    <textarea rows="25" id="journalTxt" name="journalTxt"></textarea>
    <button id="addBtn">Add</button>
</form>
<button id="copyBtn" onclick="getCopy()">Copy</button>
